[Unit]
Description={{ minecraft_server_name }} Minecraft Service
After=network.target

[Service]
User={{ service_account }}
ExecStart=java -Xmx{{ max_memory }} -Xms{{ min_memory }} -jar {{ minecraft_install_path }}server.jar nogui
Restart=always

[Install]
WantedBy = multi-user.target
