[
{% for account in op_permissions %}
{% if loop.index == loop.length %}
{
   "uuid": "{{ account.uuid }}",
   "name": "{{ account.gamertag }}",
   "level": "{{ account.level }}",
   "bypassesPlayerLimit": "{{ account.bypass }}"
   
}
{% else %}
{
   "uuid": "{{ account.uuid }}",
   "name": "{{ account.gamertag }}",
   "level": "{{ account.level }}",
   "bypassesPlayerLimit": "{{ account.bypass }}",
},
{% endif %}
{% endfor %}
]
