[
{% for account in account_permissions %}
{% if loop.index == loop.length %}
{
   "permission": "{{ account.permission }}",
   "xuid": "{{ account.xuid }}"
}
{% else %}
{
   "permission": "{{ account.permission }}",
   "xuid": "{{ account.xuid }}"
},
{% endif %}
{% endfor %}
]
