#Minecraft server properties
#{{ eula_date }}
enable-jmx-monitoring=false
rcon.port={{ rcon_port }}
level-seed={{ level_seed }}
gamemode={{ gamemode }}
enable-command-block=false
enable-query=false
generator-settings=
level-name={{ level_name }}
motd={{ message_otd }}
query.port={{ server_port }}
pvp={{ pvp_onoff }}
generate-structures=true
difficulty={{ difficulty }}
network-compression-threshold=256
max-tick-time=60000
use-native-transport=true
max-players={{ max_players }}
online-mode={{ online_mode }}
enable-status=true
allow-flight=false
broadcast-rcon-to-ops=true
view-distance=10
max-build-height=256
server-ip=
allow-nether=true
server-port={{ server_port }}
enable-rcon=false
sync-chunk-writes=true
op-permission-level=4
prevent-proxy-connections=false
resource-pack=
entity-broadcast-range-percentage=100
rcon.password={{ rcon_password }}
player-idle-timeout=0
force-gamemode=false
rate-limit=0
hardcore=false
white-list=false
broadcast-console-to-ops=true
spawn-npcs=true
spawn-animals=true
snooper-enabled=true
function-permission-level=2
level-type=default
text-filtering-config=
spawn-monsters=true
enforce-whitelist={{ whitelist }}
resource-pack-sha1=
spawn-protection=16
max-world-size=29999984